body{
    font-family: Arial, Helvetica, sans-serif;
}

table{
    border: 1px solid #337ab7;
    border-radius: 0px 0px 5px 5px;
    width: 100%;
    margin-bottom: 10px;
    padding: 20px 50px 20px 50px;
}
.panel-title{
    background-color: #337ab7;
    padding: 8px;
    border-radius: 5px 5px 0px 0px;
    color: white;
    
}
.required{
    color: red;
}

.note{
    border: 1px solid #dddddd;
}